*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root{
    --color_blue : #265898;
    --color_yellow : #FFC100;
    --color_white : #F8F9F9;
    --color_black : #17202A;
} 

.color-white{color: #FDFEFE;}
.color-black{color: #17202A;}
.color-red{color: #E74C3C;}
.color-green{color: #2ECC71;}
.color-blue{color: #3498DB;}

.hide{
    display: none !important;
}

/* Semi Bootstrap CSS */
.d-flex{display: flex;}
.flex-row{flex-direction: row;}
.flex-row-reverse{flex-direction: row-reverse;}
.flex-column{flex-direction: column;}
.flex-column-reverse{flex-direction: column-reverse;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.flex-grow-1{flex-grow: 1;}
.flex-shrink-1{flex-shrink: 1;}
.justify-content-start{justify-content: start;}
.justify-content-end{justify-content: end;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.justify-content-around{justify-content: space-around;}
.justify-content-evenly{justify-content: space-evenly;}
.justify-self-start{justify-self: start;}
.justify-self-end{justify-self: end;}
.justify-self-center{justify-self: center;}
.justify-self-between{justify-self: space-between;}
.justify-self-around{justify-self: space-around;}
.justify-self-evenly{justify-self: space-evenly;}
.align-items-start{align-items: start;}
.align-items-end{align-items: end;}
.align-items-center{align-items: center;}
.align-items-baseline{align-items: baseline;}
.align-items-stretch{align-items: stretch;}
.align-self-start{align-self: start;}
.align-self-end{align-self: end;}
.align-self-center{align-self: center;}
.align-self-baseline{align-self: baseline;}
.align-self-stretch{align-self: stretch;}

.p-5{padding: calc(003 * 1rem) !important;}
.p-4{padding: calc(1.5 * 1rem) !important;}
.p-3{padding: calc(001 * 1rem) !important;}
.p-2{padding: calc(0.5 * 1rem) !important;}
.p-1{padding: calc(.25 * 1rem) !important;}

.m-5{margin: calc(003 * 1rem) !important;}
.m-4{margin: calc(1.5 * 1rem) !important;}
.m-3{margin: calc(001 * 1rem) !important;}
.m-2{margin: calc(0.5 * 1rem) !important;}
.m-1{margin: calc(.25 * 1rem) !important;}

.gap-5{gap: calc(003 * 1rem) !important;}
.gap-4{gap: calc(1.5 * 1rem) !important;}
.gap-3{gap: calc(001 * 1rem) !important;}
.gap-2{gap: calc(0.5 * 1rem) !important;}
.gap-1{gap: calc(.25 * 1rem) !important;}

.shadow-none{box-shadow: 0;}
.shadow-sm{box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);}
.shadow{box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);}
.shadow-lg{box-shadow: 0 1rem 3rem rgba(0,0,0,.3);}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px; 
    background-color: #F8F9F9;
    padding: .5rem;
    font-size: medium;
}

.form-control:disabled {
    background-color: #D7DBDD;
}

.mirror{
    background: rgba(255, 255, 255, 0.85) !important;
    backdrop-filter: blur(5px) !important;
}

.card{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.shadow-s{
    box-shadow: 2px 3px 05px rgba(0, 0, 0, .3);
}
.shadow-m{
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .3);
}
.shadow-l{
    box-shadow: 4px 7px 25px  rgba(0, 0, 0, .3);
}

.btn{
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 5px;
    transition: 0.3s;
    outline: none;
}

.btn:hover,
.btn:focus{
    background-color: rgba(0, 0, 0, .2);
}

.btn.btn-blue{
    background-color: #D6EAF8;
    border: 1px solid #2E86C1;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus{
    background-color: #5DADE2;
}

.btn.btn-red{
    background-color: #FDEDEC;
    border: 1px solid #E74C3C;
}
.btn.btn-red:hover,
.btn.btn-red:focus{
    background-color: #F1948A;
}

.btn.btn-green{
    background-color: #EAFAF1;
    border: 1px solid #58D68D;
}
.btn.btn-green:hover,
.btn.btn-green:focus{
    background-color: #ABEBC6;
}

.btn.btn-yellow{
    background-color: #FEF9E7;
    border: 1px solid #F4D03F;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus{
    background-color: #F9E79F;
}

.text-center{text-align: center;}
.text-start{text-align: left;}
.text-end{text-align: right;}
.text-wrap{text-wrap: wrap;}
.text-nowrap{text-wrap: nowrap;}
.text-lowercase{text-transform: lowercase;}
.text-uppercase{text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}

.text-decoration-none{text-decoration: none;}
.text-decoration-underline{text-decoration: underline;}

.fs-6{font-size: calc(1 * 1rem) !important;}
.fs-5{font-size: calc(1.25 * 1rem) !important;}
.fs-4{font-size: calc(1.5 * 1rem) !important;}
.fs-3{font-size: calc(1.75 * 1rem) !important;}
.fs-2{font-size: calc(2 * 1rem) !important;}
.fs-1{font-size: calc(2.55 * 1rem) !important;}

.fst-normal{font-style: normal;}
.fst-italic{font-style: italic;}
.fst-oblique{font-style: oblique;}

.fw-bold{font-weight: bold;}
.fw-normal{font-weight: normal;}



.fade-in-to-right{
    animation: fade-in-to-right .8s forwards;
}

@keyframes fade-in-to-right {
    0%{opacity: 0; transform: translateX(-100px);}
    100%{opacity: 1; transform: translateX(0);}
}

.fade-in-to-left{
    animation: fade-in-to-left .8s forwards;
}

@keyframes fade-in-to-left {
    0%{opacity: 0;transform: translateX(100px);}
    100%{opacity: 1;transform: translateX(0);}
}

.fade-in-to-bottom{
    animation: fade-in-to-bottom .8s forwards;
}

@keyframes fade-in-to-bottom {
    0%{opacity: 0;transform: translateY(-100px);}
    100%{opacity: 1;transform: translateY(0);}
}